Binaries
DerivedDataCache
Intermediate
Saved
Build

.idea
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


Plugins/**/Binaries/
Plugins/**/Intermediate/

Content/ParagonYin
Content/Girl_GreatSword_AnimSet
Content/Characters/Mannequins/Meshes
Content/__ExternalActors__
Content/__ExternalObjects__